<div class="home">
  <%= render 'articles_types/heading'%>
  <section class="row all_posts" id="all_posts">
    <div class="post_sizer"></div> <!--This is not a post-->
    <div class="col-sm-3 post sticky post-1">
      <div class="row m0 inner">
        <div class="row m0 post_contents">
          <div class="row m0 category politics">
            <a href="#">politics</a>
            <div class="dropdown pull-right social_share_drop">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <h3 class="post_title"><a href="#">Sticky Post: Jeb Bush Calls For VA Overhaul</a></h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
          <p>Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor. <a href="single-blog.html" class="read_more">Read More<i class="fa fa-angle-double-right"></i></a></p>
        </div>
        <div class="sticky_icon"><img src="images/posts/sticky.png" alt=""></div>
      </div>
    </div><!--Sticky Post-->
    <div class="col-sm-3 post post-2">
      <div class="row m0 inner">
        <div class="row m0 featured_img">
          <a href="single-blog.html"><img src="images/posts/1.jpg" alt=""></a>
        </div>
        <div class="row m0 post_contents">
          <div class="row m0 category money">
            <a href="#">money</a>
            <div class="dropdown pull-right social_share_drop">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <h3 class="post_title"><a href="#">Woman finds 4 urns in recently purchased used car</a></h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Post-->
    <div class="col-sm-6 post post-5 interview">
      <div class="row m0 inner">
        <img src="images/posts/4.jpg" alt="" class="img-responsive">
        <div class="dropdown pull-right social_share_drop">
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
        <div class="row m0 post_contents">
          <h4 class="category world"><a href="#">world</a></h4>
          <h3 class="post_title">Interview with Lia Esheley about political issues in U.s.a</h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Interview Post-->
    <div class="col-sm-6 post post-13 interview">
      <div class="row m0 inner">
        <img src="images/posts/4.jpg" alt="" class="img-responsive">
        <div class="dropdown pull-right social_share_drop">
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
        <div class="row m0 post_contents">
          <h4 class="category world"><a href="#">world</a></h4>
          <h3 class="post_title">Interview with Lia Esheley about political issues in U.s.a</h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Interview Post-->
    <div class="col-sm-3 post post-4 rectangle">
      <div class="row m0 inner">
        <div class="row m0 featured_img">
          <a href="single-blog.html"><img src="images/posts/3.jpg" alt=""></a>
        </div>
        <div class="row m0 post_contents">
          <div class="row m0 category politics">
            <a href="#">politics</a>
            <div class="dropdown pull-right social_share_drop">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <h3 class="post_title"><a href="#">what happend this week? take our weekly news quiz</a></h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Post-->
    <div class="col-sm-3 post post-9">
      <div class="row m0 inner">
        <div class="row m0 featured_img">
          <div class="owl-carousel post_dot_gallery">
            <div class="item"><img src="images/posts/7.jpg" alt=""></div>
            <div class="item"><img src="images/posts/7.jpg" alt=""></div>
            <div class="item"><img src="images/posts/7.jpg" alt=""></div>
            <div class="item"><img src="images/posts/7.jpg" alt=""></div>
          </div>
        </div>
        <div class="row m0 post_contents">
          <div class="row m0 category world">
            <a href="#">world</a>
            <div class="dropdown pull-right social_share_drop">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <h3 class="post_title"><a href="#">Autopsy: St. Louis man killed by police was shot in back</a></h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Post-->
    <div class="col-sm-3 post post-10">
      <div class="row m0 inner">
        <div class="row m0 featured_img">
          <a href="single-blog.html"><img src="images/posts/8.jpg" alt=""></a>
        </div>
        <div class="row m0 post_contents">
          <div class="row m0 category money">
            <a href="#">money</a>
            <div class="dropdown pull-right social_share_drop">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <h3 class="post_title"><a href="#">Blind teen with autism rocks Star-Spangled Banner</a></h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Post-->
    <div class="col-sm-3 post post-12 link">
      <div class="row m0 inner">
        <img src="images/posts/9.jpg" alt="">
        <div class="dropdown pull-right social_share_drop">
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
        <div class="row m0 post_contents">
          <h4 class="category politics"><a href="#">politics</a></h4>
          <h3 class="post_title"><a href="#">Deadly infections from medical scopes go unreported, raising health risks</a></h3>
          <div class="media post_link">
            <div class="media-left"><i class="fa fa-link"></i></div>
            <div class="media-body media-middle">
              Download the list of the richest people in Forbes here: <a href="#">goo.gl/GQpTNo</a>
            </div>
          </div>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Post-->
    <div class="col-sm-6 post post-11">
      <div class="row m0 inner">
        <div class="row m0 featured_img">
          <a href="single-blog.html"><img src="images/posts/10.jpg" alt=""></a>
        </div>
        <div class="row m0 post_contents">
          <div class="row m0 category world">
            <a href="#">world</a>
            <div class="dropdown pull-right social_share_drop">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <h3 class="post_title"><a href="#">Whale photobombs TV host complaining about not seeing any whales</a></h3>
          <ul class="post_meta nav nav-pills">
            <li><a href="#">August 6, 2015</a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
            <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
          </ul>
        </div>
      </div>
    </div><!--Post-->
  </section>
  <%= render 'articles_types/videos'%>
  <section class="row alert_row">
    <div class="alert alert-dismissible fade in mobile_app_alert" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
      <div class="media">
        <div class="media-left"><a href="#"><img src="images/alert/mobile-app.png" alt=""></a></div>
        <div class="media-body">
          <h3>Try our mobile app on android or ios</h3>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,</p>
        </div>
      </div>
    </div>
  </section>

</div>