<div class="home">
  <%= render 'articles_types/heading'%>
  <h1>Articles</h1>
  <%= render 'articles_types/videos'%>
  <section class="row alert_row">
    <div class="alert alert-dismissible fade in mobile_app_alert" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
      <div class="media">
        <div class="media-left"><a href="#"><img src="images/alert/mobile-app.png" alt=""></a></div>
        <div class="media-body">
          <h3>Try our mobile app on android or ios</h3>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,</p>
        </div>
      </div>
    </div>
  </section>

</div>