<footer class="row">
  <ul class="nav nav-pills footer_cat_menus">
    <li class="parrent_cat">
      <a href="#">news</a>
      <ul class="child_cats nav">
        <li><a href="#">Politics</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Money</a></li>
        <li><a href="#">World</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">sports</a>
      <ul class="child_cats nav">
        <li><a href="#">NFL</a></li>
        <li><a href="#">MLB</a></li>
        <li><a href="#">NBA</a></li>
        <li><a href="#">NHL</a></li>
        <li><a href="#">NCAAF</a></li>
        <li><a href="#">NCAAB</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">life</a>
      <ul class="child_cats nav">
        <li><a href="#">People</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">TV</a></li>
        <li><a href="#">Books</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">money</a>
      <ul class="child_cats nav">
        <li><a href="#">Markets</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Personal Finance</a></li>
        <li><a href="#">Cars</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">tech</a>
      <ul class="child_cats nav">
        <li><a href="#">Politics</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Money</a></li>
        <li><a href="#">World</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">politics</a>
      <ul class="child_cats nav">
        <li><a href="#">Australia</a></li>
        <li><a href="#">Canada</a></li>
        <li><a href="#">France</a></li>
        <li><a href="#">Germany</a></li>
        <li><a href="#">Poland</a></li>
        <li><a href="#">Ukraine</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">travel</a>
      <ul class="child_cats nav">
        <li><a href="#">Business Travel</a></li>
        <li><a href="#">Experience Travel</a></li>
        <li><a href="#">Destinations</a></li>
        <li><a href="#">Flights</a></li>
        <li><a href="#">Cruises</a></li>
        <li><a href="#">Deals</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">opinion</a>
      <ul class="child_cats nav">
        <li><a href="#">BBC</a></li>
        <li><a href="#">CNN</a></li>
        <li><a href="#">Forbs</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">investing</a>
      <ul class="child_cats nav">
        <li><a href="#">Our WebSite</a></li>
        <li><a href="#">Charity</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">lifestyle</a>
      <ul class="child_cats nav">
        <li><a href="#">Freelance</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Sport</a></li>
        <li><a href="#">Money</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">business</a>
      <ul class="child_cats nav">
        <li><a href="#">Ideas</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Offers</a></li>
      </ul>
    </li>
    <li class="parrent_cat">
      <a href="#">video</a>
      <ul class="child_cats nav">
        <li><a href="#">Nation</a></li>
        <li><a href="#">World</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Have You Seen</a></li>
      </ul>
    </li>
  </ul>
</footer>
<section class="row copyright-row">
  <a href="index.html" class="logo fleft">Age</a>
  <div class="follow_nav fleft">
    <div class="fleft menuTitle">Follow Us:</div>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-vk"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>
  <div class="rights fright">2015 &copy; All Rights Reserved by <a href="#">wwwebinvader</a></div>
</section>
