<footer class="row">
  <section class="row search_form_popup">
    <div class="col-sm-5 col-sm-offset-1">
      <h2>I’m Age <br>magazine &amp; Blog</h2>
      <a href="about.html"><i class="fa fa-info-circle"></i>get more info</a>
    </div>
    <div class="col-sm-5 quick_contact">
      <div class="media">
        <div class="media-left"><i class="fa fa-phone"></i></div>
        <div class="media-body" style=" color:white">+8 800 932 6457<br>44 99 245 84</div>
      </div>
      <div class="media">
        <div class="media-left"><i class="fa fa-map-marker"></i></div>
        <div class="media-body"style=" color:white">Miami 24, Austreet 107<br>USA, Florida</div>
      </div>
      <div class="media">
        <div class="media-left"><i class="fa fa-envelope"></i></div>
        <div class="media-body"style=" color:white">Web Invader<br><a href="mailto:wwweb.invader@gmail.com">wwweb.invader@gmail.com</a></div>
      </div>
    </div>
  </section>

</footer>
<section class="row copyright-row">
  <%=link_to 'Age', root_path, class:'logo fleft'%>
  <div class="follow_nav fleft">
    <div class="fleft menuTitle">Follow Us:</div>
    <ul class="nav nav-pills">
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-vk"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>
  <div class="rights fright">2015 &copy; All Rights Reserved by <a href="#">wwwebinvader</a></div>
</section>
<%= render 'layouts/commons/search_form'%>