<div class="modal fade" id="search_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width: 95%;" role="document">
<section class="row search_form_popup">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>I’m Age <br>magazine &amp; Blog</h2>
        <a href="about.html"><i class="fa fa-info-circle"></i>get more info</a>
      </div>
      <div class="col-sm-8">
          <%= form_tag articles_path, role: 'search', class:'row m0', method: :get do %>
          <div class="input-group">
            <%= text_field_tag :q, params[:query],class:'form-control',
                                placeholder:'Search'%>

              <span class="input-group-addon">
                  <button type="submit"><i class="fa fa-search"></i></button>
              </span>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</section>

    </div>
  </div>