<!--Sliding Menu Triggered with Menu-->
<div class="sliding_menu row m0">
  <div class="row m0 search_row">
    <%= form_tag articles_path, role: 'search', class:'search_form fleft', method: :get do %>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <%= text_field_tag :query, params[:query],class:'form-control', type:'search', id:'query' %>
        </div>
    <%end%>
    <div class="fleft" id="menuHide">
      <%=image_tag 'logo/bars2.png'%></div>
  </div>
  <div class="row m0 navByCat">
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">news</a>
        <ul class="dropdown-menu">
          <li><a href="#">politics</a></li>
          <li><a href="#">sports</a></li>
          <li><a href="#">money</a></li>
          <li><a href="#">world</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">politics</a>
        <ul class="dropdown-menu">
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">France</a></li>
          <li><a href="#">Germany</a></li>
          <li><a href="#">Poland</a></li>
          <li><a href="#">Ukraine</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sports</a>
        <ul class="dropdown-menu">
          <li><a href="#">NFL</a></li>
          <li><a href="#">MLB</a></li>
          <li><a href="#">NBA</a></li>
          <li><a href="#">NHL</a></li>
          <li><a href="#">NCAAF</a></li>
          <li><a href="#">NCAAB</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">money</a>
        <ul class="dropdown-menu">
          <li><a href="#">Markets</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Personal Finance</a></li>
          <li><a href="#">Cars</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">world</a>
        <ul class="dropdown-menu">
          <li><a href="#">Business Travel</a></li>
          <li><a href="#">Experience Travel</a></li>
          <li><a href="#">Destinations</a></li>
          <li><a href="#">Flights</a></li>
          <li><a href="#">Cruises</a></li>
          <li><a href="#">Deals</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="row m0 social_media_followers">
    <ul class="nav">
      <li>
        <div class="media google-plus">
          <div class="media-left media-middle">
            <i class="fa fa-google-plus"></i>
          </div>
          <div class="media-body">
            <h4>1189k</h4>
            <a href="#">Follow</a>
          </div>
        </div>
      </li>
      <li>
        <div class="media twitter">
          <div class="media-left media-middle">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="media-body">
            <h4>1168k</h4>
            <a href="#">Follow</a>
          </div>
        </div>
      </li>
      <li>
        <div class="media facebook">
          <div class="media-left media-middle">
            <i class="fa fa-facebook"></i>
          </div>
          <div class="media-body">
            <h4>4210k</h4>
            <a href="#">Follow</a>
          </div>
        </div>
      </li>
      <li>
        <div class="media youtube">
          <div class="media-left media-middle">
            <i class="fa fa-youtube-play"></i>
          </div>
          <div class="media-body">
            <h4>2148k</h4>
            <a href="#">Follow</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--Sliding Menu Triggered with Menu End-->
<!--Side Scrollspy-->
<div class="row m0 scrollspyMenu">
  <ul class="nav">
    <li>
      <%=link_to '' ,about_path %>
      <span class="tooltip_layer">contact us</span>
    </li>
    <li>
      <a href="#all_posts"></a>
      <span class="tooltip_layer">All Posts</span>
    </li>
    <li>
      <a href="#popular_videos"></a>
      <span class="tooltip_layer">Popular Videos</span>
    </li>
    <li>
      <a href="#about_us"></a>
      <span class="tooltip_layer">About Us</span>
    </li>
  </ul>

  <a href="#header" id="go_top">On Top<i class="fa fa-angle-double-right"></i></a>
</div>
<!--Side Scrollspy-->