<div class="col-sm-3 post post-6">
  <div class="row m0 inner">
    <div class="row m0 featured_img">
      <%= link_to article_path(article) do %>
          <%= image_tag article.image.url(:small_home) ,class:'img-responsive'%>
      <%end%>
    </div>
    <div class="row m0 post_contents">
      <div class="row m0 category sports">
        <a href="#">sports</a>
        <div class="dropdown pull-right social_share_drop">
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <h3 class="post_title"><%= link_to article.title , article_path(article)%></h3>
      <ul class="post_meta nav nav-pills">
        <li><%=article.created_at.strftime("%A, %b %d")%></li>
        <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
        <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
      </ul>
    </div>
  </div>
</div><!--Post-->
