<section class="row video_posts" id="popular_videos">
  <div class="container-fluid">
    <div class="row">
      <%videos.each do |v|%>
          <%=link_to v do %>
      <div class="col-sm-3 video-post">
        <h3 class="post_title"><i class="fa fa-youtube-play"></i><%=v.title%></h3>
        <!-- 4:3 aspect ratio -->
        <div class="embed-responsive embed-responsive-4by3">
          <%=image_tag v.thumb.url(:medium), class: 'embed-responsive-item'%>
              <%=image_tag 'youtube.png', class:'youtube-logo' %>
        </div>

      </div>
              <%end%>
      <%end%>
    </div>
  </div>
</section>
